<div class="su-ui">
  <su-form>

            <su-input type="text" label='<%= t "activerecord.attributes.student.s_number" %>'
            readonly value="<%= @student.s_number %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.s_name" %>'
            readonly value="<%= @student.s_name %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.s_passowrd" %>'
            readonly value="<%= @student.s_passowrd %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.academy" %>'
            readonly value="<%= @student.academy %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.major" %>'
            readonly value="<%= @student.major %>"></su-input>
            <su-input type="number" label='<%= t "activerecord.attributes.student.age" %>'
            readonly value="<%= @student.age %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.sex" %>'
            readonly value="<%= @student.sex %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.email" %>'
            readonly value="<%= @student.email %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.address" %>'
            readonly value="<%= @student.address %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.telephone" %>'
            readonly value="<%= @student.telephone %>"></su-input>
            <su-input type="number" label='<%= t "activerecord.attributes.student.s_power" %>'
            readonly value="<%= @student.s_power %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.student.ip" %>'
            readonly value="<%= @student.ip %>"></su-input>
    <div class="clearfix form-actions">
      <%= render partial: 'shared/form/show_actions', locals: {path: :admin_student_path, model: @student} %>
    </div>
  </su-form>
</div>