<!DOCTYPE html>
<html>
<head>
  <title>大学实训管理系统</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="page description"/>
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="no-skin">

<div class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div id="navbar-container" class="navbar-container">
    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small>
          <i class="fa fa-sun-o"></i>
         大学实训管理系统
        </small>
      </a>
    </div>
    <div class="navbar-header pull-right" role="navigation">
      <ul class="ace ace-nav">
        <li class="light-blue" style=" list-style-type: none; ">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <i class="fa fa-user fa-lg"></i>
              <span class="user-info">
                <small>欢迎,</small> <%= current_user.name %>
              </span>
            <i class="ace-icon fa fa-caret-down"></i>
          </a>
          <ul class="user-menu dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret dropdown-close">
            <li><a href="<%= edit_user_password_path %>"><i class="ace-icon fa fa-cog"></i> 修改密码</a></li>
            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> 修改信息</a></li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="icon-off"></i> <%= t 'login.logout' %>
              <% end %>
            </li>
          </ul>

        </li>
      </ul>
    </div>
  </div>
</div>
<div class="main-container" id="main-container">
  <!--<div class="su-ui">-->
  <div class="sidebar">
    <su-sidebar fixed data-turbolinks-permanent>
      <div slot="shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
          </button>

          <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
          </button>

          <!-- #section:basics/sidebar.layout.shortcuts -->
          <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
          </button>

          <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
          </button>

          <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>

          <span class="btn btn-info"></span>

          <span class="btn btn-warning"></span>

          <span class="btn btn-danger"></span>
        </div>
      </div>
      <ul class="nav nav-list" slot="nav">
        <nav-item title="仪表盘" href="<%= admin_path %>" icon="dashboard"
                  active-pattern="<%= "^#{admin_path}$" %>"></nav-item>
        <% if can? :manage, User %>
      <nav-item title="基础配置" href="#" icon="object-group" open>
        <nav-item title="实习分配" href="<%= admin_teachers_path %>" icon="user">
          <nav-item title="添加实习单位" href="<%= admin_teachers_path %>" icon="user">
          </nav-item>
          <nav-item title="分配审核" href="<%= admin_teachers_path %>" icon="user">
        </nav-item>
          <nav-item title="分配查看" href="<%= admin_teachers_path %>" icon="user">
          </nav-item>
        </nav-item>

          <% if can? :manage, User %>
              <nav-item title="人员管理" href="<%= admin_users_path %>" icon="user" %>
                <!--<span class="badge badge-info" slot="badge">-->
                  <nav-item title="教师管理" href="<%= admin_teachers_path %>" icon="user">
                  </nav-item>
                <nav-item title="学生管理" href="<%= admin_students_path %>" icon="user">
                  <%= User.all.count %>
                </nav-item>
                <!--</span>-->
              </nav-item>
          <% end %>
          <% if can? :manage, Role %>
              <nav-item title="角色管理" href="<%= admin_roles_path %>" icon="user-secret" %>

              </nav-item>
          <% end %>
          <% if can? :manage, Permission %>
              <nav-item title="权限管理" href="<%= admin_permissions_path %>" icon="key"></nav-item>
          <% end %>
          <% if can? :manage, CodeTable %>
              <nav-item title="码表管理" href="<%= admin_code_tables_path %>" icon="list-alt">
                <span class="badge badge-info" slot="badge"><%= CodeTable.all.count %></span>
              </nav-item>
          <% end %>
        </nav-item>
            <% end %>
        <nav-item title="公告管理" href="#" icon="info" %>
          <% if can? :create, Notice %>
          <nav-item title="发布公告" href="<%= new_admin_notice_path %>" icon="user">
          </nav-item>
              <% end %>
          <nav-item title="查看公告" href="<%= admin_notices_path %>" icon="user">
        </nav-item>
        </nav-item>
        <nav-item title="留言管理" href="#" icon="comment" %>
          <nav-item title="查看留言" href="<%= admin_messages_path %>" icon="user">
          </nav-item>
          <nav-item title="编辑留言" href="<%= new_admin_message_path %>" icon="user">
          </nav-item>
        </nav-item>
        <nav-item title="成绩管理" href="#" icon="gavel" %>
          <nav-item title="查看成绩" href="<%= admin_grades_path%>" icon="user">
          </nav-item>
          <!--<% if can? :create, Grade %>-->
          <!--<nav-item title="编辑成绩" href="<%= new_admin_grade_path %>" icon="user">-->
          <!--</nav-item>-->
          <!--<% end %>-->
          <% if can? :create, Grade %>
          <nav-item title="录入成绩" href="<%= new_admin_grade_path %>" icon="user">
          </nav-item>
              <% end %>
        </nav-item>
        <nav-item title="文档管理" href="#" icon="file" %>
          <nav-item title="查看文档" href="<%= admin_documents_path %>" icon="file-text-o">
          </nav-item>
          <nav-item title="上传文档" href="<%= new_admin_document_path %>" icon="user">
          </nav-item>
          <!--<nav-item title="编辑文档" href="#" icon="user">-->
        <!--</nav-item>-->
          <nav-item title="下载文档" href="<%= download_admin_documents_path %>" icon="user">
          </nav-item>
        </nav-item>
        <% if Rails.env == 'development' %>
            <nav-item title="样式(开发环境可见)" href="<%= admin_guide_path %>" icon="desktop"></nav-item>
        <% end %>
      </ul>
      <div class="sidebar-toggle sidebar-collapse" slot="sidebar-toggle">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
      </div>
    </su-sidebar>
  </div>
  <!--</div>-->
  <div class="main-content">
    <div class="breadcrumbs breadcrumbs-fixed su-ui">
      <su-breadcrumbs :data="<%= @breadcrumbs.to_json %>"></su-breadcrumbs>
    </div>
    <div class="page-content">
      <div class="page-header su-ui">
        <% if content_for?(:header) %>
            <%= yield(:header) %>
        <% else %>
            <h1>
              <%= @breadcrumbs[-1][:title] if @breadcrumbs and @breadcrumbs[-1] %>

              <% if @breadcrumbs and @breadcrumbs[-2] %>
                  <small>
                    <i class="ace-icon fa fa-angle-double-left fa-fw"></i>
                    <a href="<%= @breadcrumbs[-2][:src] %>" v-su-color="#888">
                      <%= @breadcrumbs[-2][:title] %>
                    </a>
                  </small>
              <% end %>
            </h1>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <% if notice %>
              <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                  <i class="ace-icon fa fa-times"></i>
                </button>

                <p>
                  <strong>
                    <i class="ace-icon fa fa-check"></i>

                  </strong><%= notice %>
                </p>
              </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
