<su-form action="<%= form_path([:admin, @document]) %>"
         method="post" enctype="multipart/form-data"
         :init-fields="{authenticity_token: '<%= form_authenticity_token %>'}">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="<%= form_method @document %>">

  <%= form_validate @document %>
      <su-input type="text" label='<%= t "activerecord.attributes.document.d_title" %>' autofocus          name="document[d_title]" value="<%= @document.d_title %>"></su-input>
      <!--<su-input type="text" label='<%= t "activerecord.attributes.document.d_type" %>'           name="document[d_type]" value="<%= @document.d_type %>"></su-input>-->
      <su-select name="document[d_type]" label='<%= t "activerecord.attributes.document.n_type" %>' value="<%= @document.d_type %>" no-blank="{只需要属性名,禁止空选项}">
       <option value="情感">情感</option>
       <option value="武侠">武侠</option>
       <option value="喜剧">喜剧</option>
       <option value="恐怖">恐怖</option>
     </su-select>
      <su-input type="text" label='<%= t "activerecord.attributes.document.d_tags" %>'           name="document[d_tags]" value="<%= @document.d_tags %>"></su-input>
      <!--<su-input type="text" label='<%= t "activerecord.attributes.document.annex" %>'           name="document[annex]" value="<%= @document.annex %>"></su-input>-->
      <su-file name="document[annex]" label="<%= "附件" %>"></su-file>
  <div class="clearfix form-actions">
    <%= render partial: 'shared/form/new_actions', locals: {options: {do_continue: false}} %>
  </div>
</su-form>