<div id="admin_documents">
  <!--<p>-->
    <!--<a href="<%= new_admin_document_path %>" class="btn btn-success btn-sm">-->
      <!--<su-icon icon="plus" color="#fff" fix-width></su-icon>新增-->
    <!--</a>-->
  <!--</p>-->
  <div id="up">
    <div id="first_area">
      <div id="area_type">
        <a href="<%= download_admin_documents_path %>" >系主任专区</a>
      </div>
      <% @documents.each do |document| %>
          <div id="content_all">
            <div id="content"><%= link_to document.d_title[0,25] %></div>
            <div id="content_time"><%= document.created_at.strftime('%Y-%m-%d') %></div>
          </div>

      <% end %>
      <div id="paginate">

      </div>
    </div>
    <div id="second_area">
      <div id="area_type">
       <a href="<%= download_admin_documents_path %>" >教师专区</a>
      </div>
      <% @documents.each do |document| %>
          <div id="content_all">
            <div id="content"><%= link_to document.d_title[0,25],document.annex.url %></div>
            <div id="content_time"><%= document.created_at.strftime('%Y-%m-%d') %></div>
          </div>

      <% end %>
      <div id="paginate">

      </div>
    </div>
  </div>

  <div id="down">
    <div id="third_area">
      <div id="area_type">
        <a href="<%= download_admin_documents_path %>" >学生专区</a>
      </div>
      <% @documents.each do |document| %>
          <div id="content_all">
            <div id="content"><%= link_to document.d_title[0,25] %></div>
            <div id="content_time"><%= document.created_at.strftime('%Y-%m-%d') %></div>
          </div>

      <% end %>
      <div id="paginate">

      </div>
    </div>
    <div id="fourth_area">
      <div id="area_type">
        <a href="<%= download_admin_documents_path %>" >实习单位专区</a>
      </div>
      <% @documents.each do |document| %>
          <div id="content_all">
            <div id="content"></div>
            <div id="content_time"></div>
          </div>

      <% end %>
      <div id="paginate">

      </div>
    </div>
  </div>

<script type="text/javascript" data-turbolinks-eval="true">
  new Vue({
    el: "#admin_documents"
  })
</script>
  </div>