<div class="su-ui">
  <su-form>

            <su-input type="text" label='<%= t "activerecord.attributes.document.d_title" %>'
            readonly value="<%= @document.d_title %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.document.d_content" %>'
            readonly value="<%= @document.d_content %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.document.d_type" %>'
            readonly value="<%= @document.d_type %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.document.d_tags" %>'
            readonly value="<%= @document.d_tags %>"></su-input>
            <su-input type="text" label='<%= t "activerecord.attributes.document.annex" %>'
            readonly value="<%= @document.annex %>"></su-input>
    <div class="clearfix form-actions">
      <%= render partial: 'shared/form/show_actions', locals: {path: :admin_document_path, model: @document} %>
    </div>
  </su-form>
</div>