<div class="su-ui">
  <su-form>
            <su-input type="text" label="<%= t "activerecord.attributes.user.name" %>"
            readonly value="<%= @user.name %>"></su-input>
            <su-input type="text" label="<%= t "activerecord.attributes.user.phone" %>"
            readonly value="<%= @user.phone %>"></su-input>
            <su-input type="text" label="<%= t "activerecord.attributes.user.email" %>"
            readonly value="<%= @user.email %>"></su-input>
            <su-input type="text" label="<%= t "activerecord.attributes.user.identification" %>"
            readonly value="<%= @user.identification %>"></su-input>
            <su-options type="radio" label="性别" name="user[sex]" disabled value="<%= @user.sex %>">
              <su-option value="1">男</su-option>
              <su-option value="0">女</su-option>
            </su-options>
            <su-text label="<%= t "activerecord.attributes.user.remark" %>" readonly><%= @user.remark %></su-text>
    <div class="clearfix form-actions">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to edit_admin_user_path(@user.id), title: "#{t 'common.edit'}", class: [:btn, 'btn-warning'] do
          '<su-icon icon="pencil" class="bigger-120" fix-width></su-icon> 编辑'.html_safe
        end %>

        <%= link_to admin_user_path(@user.id), method: :delete, title: "#{t 'common.delete'}", class: [:btn, 'btn-danger'], data: {confirm: "#{t 'common.confirm_delete'}"} do
          '<su-icon icon="trash" class="bigger-120" fix-width></su-icon> 删除'.html_safe
        end %>


        <a class="btn" href="javascript:history.back()">
          <su-icon icon="undo" fix-width></su-icon>
          返回
        </a>
      </div>
    </div>
  </su-form>
</div>