<su-form action="<%= form_path([:admin, @notice]) %>"
         method="post"
         :init-fields="{authenticity_token: '<%= form_authenticity_token %>'}">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="<%= form_method @notice %>">

  <%= form_validate @notice %>
      <su-input type="text" label='<%= t "activerecord.attributes.notice.n_title" %>' autofocus          name="notice[n_title]" value="<%= @notice.n_title %>"></su-input>
      <su-input type="text" label='<%= t "activerecord.attributes.notice.n_content" %>'           name="notice[n_content]" value="<%= @notice.n_content %>"></su-input>
      <su-input type="text" label='<%= t "activerecord.attributes.notice.unit" %>'           name="notice[unit]" value="<%= @notice.unit %>"></su-input>
      <su-input type="text" label='<%= t "activerecord.attributes.notice.n_type" %>'           name="notice[n_type]" value="<%= @notice.n_type %>"></su-input>
      <su-input type="text" label='<%= t "activerecord.attributes.notice.n_tags" %>'           name="notice[n_tags]" value="<%= @notice.n_tags %>"></su-input>
      <su-input type="number" label='<%= t "activerecord.attributes.notice.views" %>'           name="notice[views]" value="<%= @notice.views %>"></su-input>

  <div class="clearfix form-actions">
    <%= render partial: 'shared/form/new_actions', locals: {options: {do_continue: false}} %>
  </div>
</su-form>